  .maindiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 10px;
  }

  .onlyserisname {
    margin-bottom: 10px;
    display: flex;
    /*flex-wrap: wrap;*/
    /*gap: 14px;*/
    font-size: 25px;
    align-items: center;
  }

  .seatdiv {
    font-size: 20px;
    display: initial;
    margin: 0px 10px 0px 0px;
    height: 40px;
    width: 42px;
    background-color: lightgray;
    border-radius: 5px;
  }


.hidden{
  visibility: hidden;
}
  /* CSS styles for the selected seats */
  .seatdiv.selected {
    background-color: #ff0000; /* Change the background color to red */
    color: #ffffff;

  }

  .total-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .bookticit {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .tickitbtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .tickitbtn:hover {
    background-color: #45a049;
  }

  .tickitbtn:focus {
    outline: none;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  .submitbtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submitbtn:hover {
    background-color: #45a049;
  }

  .submitbtn:focus {
    outline: none;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  ul {

    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 4px;
    flex-wrap: wrap;
  }

  ul li {
    margin-top: 9px;
    display: flex;
    margin-bottom: 5px;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  #keep-mounted-modal-description {
    margin-top: 10px;
  }



  #keep-mounted-modal-description{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .error-message{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    color: red;
  }

  /*#outlined-basic{*/
  /*  padding: 10px;*/
  /*}*/
  .seatdiv.booked {
    background-color: #535353;
    color: white;
  cursor: not-allowed;
    /*color: white;*/
    /* Styles for booked seats */
  }

  .clockmange{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }

  .backbutton {
    margin: 10px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
  }

  .backbutton:hover {
    background-color: #f0f0f0;
  }



  .backbutton:focus {
    outline: none;
  }

  .backbutton .MuiSvgIcon-root {
    margin: auto;
  }


  .maintwo {
    margin-top: 152px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .onlyall {
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .inputall {
    width: 245px;
  }

  .loginmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .maintwo {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .tdiv {
    margin-bottom: 20px;
  }

  .onlyall h2 {
    text-align: center;
    font-family: sans-serif;
    color: #145585;
  }

  .twodiv label {
    display: block;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #145585;
  }

  .inputall {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .button {
    width: 100%;
    padding: 10px;
    background-color: #145585;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #0f486b;
  }

  .onlyall p {
    text-align: center;
    margin-top: 10px;
  }

  .onlyall p a {
    color: #145585;
    text-decoration: none;
  }

  .onlyall p a:hover {
    text-decoration: underline;
  }



  .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .signup h2 {
    text-align: center;
    font-family: sans-serif;
    color: #145585;
    margin-bottom: 20px;
  }

  .signup form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .signup form div {
    margin-bottom: 20px;
  }

  .signup form label {
    display: block;
    margin-bottom: 5px;
    font-family: sans-serif;
    color: #145585;
  }

  .signup form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .signup form button {
    width: 100%;
    padding: 10px;
    background-color: #145585;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .signup form button:hover {
    background-color: #0f486b;
  }

  .signup p {
    text-align: center;
    margin-top: 10px;
  }

  .signup p a {
    color: #145585;
    text-decoration: none;
  }

  .signup p a:hover {
    text-decoration: underline;
  }


  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }

  .card-title {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #145585;
  }

  .card-content {
    margin-top: 20px;
  }

  .card-link {
    display: block;
    text-align: center;
    color: #145585;
    text-decoration: none;
    margin-top: 20px;
  }

  .card-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #145585;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .card-button:hover {
    background-color: #0f466e;
  }

  .card p {
    margin-bottom: 10px;
  }

  .card p:last-child {
    margin-bottom: 0;
  }


  /* CSS for User Profile */
  .user-profile {
margin: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .user-profile img {
    border-radius: 15px;
    background-color: #535353;
    width: 50px;
    height: 50px;
  }

  .user-profile p {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
  }

  /*.moviename{*/
  /*  !*padding-top: 20px;*!*/
  /*  background-color: bisque;*/
  /*  display: flex;*/
  /*  justify-content: space-between;*/
  /*  align-content: stretch;*/
  /*  flex-direction: row;*/
  /*  align-items: center;*/
  /*  display: flex;*/
  /*  justifyContent: space-between;*/
  /*  !*padding-bottom: 20px;*!*/
  /*  height: 95px;*/

  /*}*/

  .usercompo{
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    height: 95px;
    margin-bottom: 22px;
    align-content: stretch;
    align-items: center;
  }




  .signup-link {
    display: block;
    margin-bottom: 16px;
    color: blue;
    text-decoration: underline;
  }

  .login-btn {
    background-color: #4caf50;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }

  .login-btn:hover {
    background-color: #45a049;
  }


  .signup-link {
    display: block;
    margin-bottom: 16px;
    color: blue;
    text-decoration: underline;
  }

  .login-btn {
    background-color: #4caf50;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }

  .login-btn:hover {
    background-color: #45a049;
  }


  .loginmange{

    display: flex;
    flex-direction: column;
    align-items: stretch;

  }

