  .maindiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .onlyserisname {
    margin-bottom: 10px;
    display: flex;
    /*flex-wrap: wrap;*/
    /*gap: 14px;*/
    font-size: 25px;
    align-items: center;
  }

  .seatdiv {
    font-size: 20px;
    display: initial;
    margin: 0px 10px 0px 0px;
    /* Add 3px right margin */
    padding: 15px 20px;
    background-color: lightgray;
    border-radius: 5px;
  }

  /* CSS styles for the selected seats */
  .seatdiv.selected {
    background-color: #ff0000; /* Change the background color to red */
    color: #ffffff;

  }

  .total-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }


