.alldiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.hintmange{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 4px;
}

select {
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#container1 {
    border-radius: 27px;
    width: 0px;
    padding: 10px;
    background-color: #4640ff;
}
#container2 {
    border-radius: 27px;
    width: 0px;
    padding: 10px;
    background-color: #000000;
}
#container3 {
    border-radius: 27px;
    width: 0px;
    padding: 10px;
    background-color: #ff3826;

}
#container4 {
    border-radius: 27px;
    width: 0px;
    padding: 10px;
    background-color: rgba(40, 168, 34, 0.57);
}

.SearchIcon {
    color: #666;
    cursor: pointer;
    font-size: 24px;
}

.calendar {
    width:100%; /* Adjust the width as needed */
    font-size: 16px; /* Adjust the font size as needed */
    padding: 20px; /* Adjust the padding as needed */
}

.calendar th,
.calendar td {
    padding: 10px; /* Adjust the padding as needed */
}

.calendar th {
    font-weight: bold;
    background-color: #4640ff;
    color: white;
}

.calendar td:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.weekend.holiday {
    color: red;
}


table{
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    border: 1px solid #000; /* Adjust the border color and thickness as needed */
}


.monthandyour {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.calendar-label {
    font-size: 16px;
    margin-bottom: 5px;
}


