body{
    margin: 18px;
}

.divcomponent{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.create-button {
    background-color: #19a90f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.dateCell {
    vertical-align: top;
    padding-top: 8px;
    padding-bottom: 8px;
}